In [2]:
import h5py

In [3]:
mol = h5py.File("/mnt/data/Lab/Lab_Data/01_Active_Projects/monocyte_vil10/scrnaseq/set1/molecule_info.h5", "r")

In [6]:
list(mol.keys())

['barcode_idx',
 'barcode_info',
 'barcodes',
 'count',
 'feature_idx',
 'features',
 'gem_group',
 'library_idx',
 'library_info',
 'metrics_json',
 'umi',
 'umi_type']

In [14]:
mol['barcode_idx'].shape

(52373929,)

In [15]:
mol['barcode_idx'][1:10]

array([ 7, 11, 17, 17, 17, 17, 17, 17, 17], dtype=uint64)

In [17]:
mol["barcode_info"]

In [18]:
mol["barcode_info"].keys()

In [20]:
mol["barcode_info"]["genomes"][0]

b'GRCh38'

In [21]:
mol["barcode_info"]["genomes"][1]

b'mm10'

In [24]:
mol['barcodes']

In [25]:
mol['barcodes'][0:10]

array([b'AAACCCAAGAAACACT', b'AAACCCAAGAAACCAT', b'AAACCCAAGAAACCCA',
       b'AAACCCAAGAAACCCG', b'AAACCCAAGAAACCTG', b'AAACCCAAGAAACGAA',
       b'AAACCCAAGAAACGTC', b'AAACCCAAGAAACTAC', b'AAACCCAAGAAACTCA',
       b'AAACCCAAGAAACTGC'], dtype='|S20')

In [26]:
mol['count']

In [27]:
mol['count'][0:10]

array([ 1,  1,  1,  3,  1,  5,  3, 16,  7, 27], dtype=uint32)

In [28]:
mol['library_info'][0:10]

array([b'[{"library_id":0,"library_type":"Gene Expression","gem_group":1,"target_set_name":null},{"library_id":1,"library_type":"Antibody Capture","gem_group":1,"target_set_name":null}]'],
      dtype='|S4096')

In [29]:
mol['gem_group']

In [30]:
mol['gem_group'][0:10]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint16)

In [31]:
for _ in list(mol.keys()):
    print(f"{_}: {type(mol[_])}")

barcode_idx: <class 'h5py._hl.dataset.Dataset'>
barcode_info: <class 'h5py._hl.group.Group'>
barcodes: <class 'h5py._hl.dataset.Dataset'>
count: <class 'h5py._hl.dataset.Dataset'>
feature_idx: <class 'h5py._hl.dataset.Dataset'>
features: <class 'h5py._hl.group.Group'>
gem_group: <class 'h5py._hl.dataset.Dataset'>
library_idx: <class 'h5py._hl.dataset.Dataset'>
library_info: <class 'h5py._hl.dataset.Dataset'>
metrics_json: <class 'h5py._hl.dataset.Dataset'>
umi: <class 'h5py._hl.dataset.Dataset'>
umi_type: <class 'h5py._hl.dataset.Dataset'>

In [50]:
mol["barcode_info"].keys()

In [55]:
mol["barcode_info"]["genomes"][0:2]

array([b'GRCh38', b'mm10'], dtype='|S256')

In [56]:
mol["barcode_info"]["pass_filter"]

In [60]:
mol["barcode_info"]["pass_filter"][0:5,0:3]

array([[2691,    0,    0],
       [2691,    1,    0],
       [6184,    0,    0],
       [6184,    1,    0],
       [9068,    0,    0]], dtype=uint64)

In [61]:
mol["features"].keys()

In [43]:
"shape" in dir(mol["barcode_idx"])

True

In [44]:
for _ in list(mol.keys()):
    if "shape" in dir(mol[_]):
        print(f"{_}: { mol[_].shape }")

barcode_idx: (52373929,)
barcodes: (6794880,)
count: (52373929,)
feature_idx: (52373929,)
gem_group: (52373929,)
library_idx: (52373929,)
library_info: (1,)
metrics_json: ()
umi: (52373929,)
umi_type: (52373929,)

In [45]:
import pandas as pd

In [48]:
pd.DataFrame(data = {
    "barcode_idx": mol["barcode_idx"],
    "count": mol["count"],
    "feature_idx": mol["feature_idx"],
    "gem_group": mol["gem_group"],
    "library_idx": mol["library_idx"],
    "umi": mol["umi"],
    "umi_type": mol["umi_type"],
})

,barcode_idx,count,feature_idx,gem_group,library_idx,umi,umi_type
0,2,1,25641,1,0,5526545,1
1,7,1,68890,1,1,608245,0
2,11,1,68914,1,1,8333365,0
3,17,3,2059,1,0,8412339,1
4,17,1,2059,1,0,12866419,1
...,...,...,...,...,...,...,...
52373924,6794874,1,68890,1,1,15378209,0
52373925,6794874,1,68896,1,1,1029604,0
52373926,6794874,1,68909,1,1,7389873,0
52373927,6794874,1,68909,1,1,15841420,0
52373928,6794875,7,19845,1,0,244861,1